.dark-gray-background{
    -fx-background-color: #46474A;
}

.gray-background{
    -fx-background-color: #636566;
}

.transparent-background{
    -fx-background-color: rgba(0,0,0,0);
}

.radius{
    -fx-background-radius: 100px;
}

.light-blue-background{
    -fx-background-color: #69ABFF;
}

.light-gray-background{
    -fx-background-color: #A09897;
}